<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h1>差值表达式</h1>
    <h3>{{ message }}</h3>
    <h3>{{ count }}</h3>
    <h1>v-text</h1>
    <div v-text="message"></div>
    <h1>v-model</h1>
    <input type="text" v-model="message">
    <input type="text" v-model="count">
    <h1>v-html</h1>
    <div v-html="html"></div>
    <h1>v-on</h1>
    <button v-on:click="handleClick">触发vm中的click</button>
  </div>
  <script src="./dep.js"></script>
  <script src="./watcher.js"></script>
  <script src="./compiler.js"></script>
  <script src="./observer.js"></script>
  <script src="./vue.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'hello',
        count: 1,
        html: '<div style="color: red;">我是个html节点。<span style="color: pink;">猛男都喜欢粉色~</span></div>'
      },
      methods: {
        handleClick() {
          alert('handleClick working now~  count will add')
          this.count ++
        }
      }
    })
  </script>
</body>

</html>
